In [2]:
import seaborn as sns
import numpy as np
ship = sns.load_dataset('titanic')
child = ship[ship ['age'] < 18]
child.mean()

C:\Users\muham\AppData\Local\Temp\ipykernel_17704\3135870615.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  child.mean()

survived       0.539823
pclass         2.584071
age            9.041327
sibsp          1.460177
parch          1.053097
fare          31.220798
adult_male     0.159292
alone          0.203540
dtype: float64

In [3]:
ship.groupby(['sex'])